
\begin{document}


\input{header}
\input{summary}


\vspace{5pt}

%-----------EDUCATION-----------------
\input{education}
% --------SKILLS------------
\input{skills}
%-----------EXPERIENCE-----------------
\input{experiences}
%-----------PROJECTS-----------------
\input{projects}
% --------SKILLS & ACTIVITIES -----
% \begin{multicols}{2}
% \vspace{-3pt}
    % \input{research_interests}
    % --------ACTIVITIES------------
\input{activities}
    
% \end{multicols}

% --------REFERENCES------------
% \input{references}
 
%-------------------------------------------
\end{document}
