\begin{document}


\input{header}
\input{summary}
\input{education}

\begin{minipage}[t]{\LeftColWidth} 
    \input{skills}
    \input{activities}
\end{minipage}%
\hspace{\ColSep}%
\begin{minipage}[t]{\dimexpr\linewidth-\LeftColWidth-\ColSep\relax}
    \input{experiences}
\end{minipage}
\input{projects}

\end{document}
